.app .header-logo a,
.app .header-menu a {
    text-decoration: none;
    font-style: none;
    color: inherit;
    cursor: pointer;
}

.app .header-menu a:hover,
.app .header-menu a.active {
    text-decoration: underline;
}

.app .logo,
.app .menu {
    display: block;
    margin: 0 auto;
    width: 29.2rem;
    text-align: center;
}

.app .logo img {
    width: 5rem;
    display: inline-block;
    vertical-align: middle;
}

.app .logo h4 {
    display: inline-block;
    vertical-align: sub;
}

.app .header-menu a:first-child {
    margin-right: 2em; 
}

.app .header-logo {
    padding-top: 2rem;
}